*.swp
*.swo
.bak
*.bak
.DS_Store
.revision
.vscode/
.idea/
*.iml

sbin/testdata
bin/
pack/
vendor
wallet/sbin/testdata
coverage.txt
profile.out
dex/order.db
contract/CMakeCache.txt
contract/CMakeFiles/
contract/Makefile
contract/cmake_install.cmake
contract/output.abi
contract/output.hex
contract/output.wasm
